/*Gilroy font starts*/

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: local(""), url("./fonts/Gilroy-Regular.ttf") format("truetype"),
    url("./fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  src: local(""), url("./fonts/Gilroy-Medium.ttf") format("truetype"),
    url("./fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: local(""), url("./fonts/Gilroy-Semibold.ttf") format("truetype"),
    url("./fonts/Gilroy-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: local(""), url("./fonts/Gilroy-Bold.ttf") format("truetype"),
    url("./fonts/Gilroy-Bold.woff") format("woff");
}

/*Gilroy font ends*/

html,
body {
  font-family: 'Gilroy', sans-serif;
  overflow-anchor: none;
}

header {
  position: relative;
  z-index: 100;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Gilroy", sans-serif;
}

/*Navbar style starts*/

.wrapper__navbar {
  height: 141px;
  margin: 0;
  background: linear-gradient(to right, #f9f1e7 67%, #fcf8f3 33%);
}

.navbar {
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 42px 0 42px 0;
  z-index: 5;
}

.navbar__colored {
  background: rgba(255, 255, 255, 0.52);
  z-index: 100;
}

.navbar a {
  text-decoration: none;
  transition: all 0.2s;
}

.navbar li {
  list-style-type: none;
  position: relative;
}

.container__navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
  padding: 0 70px 0 70px;
}

.navbar__brand {
  font-weight: 700;
  font-size: 24px;
  line-height: 29.02px;
  color: black;
  margin: 0 41px 0 0;
  z-index: 15;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  width: 336px;
  padding: 0;
  margin: 0 43px 0 0;
}

.navbar__link {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 16px;
}

.navbar__link:hover,
.navbar__link:active {
  color: #e89f71;
}

.navbar__products-sublist {
  display: none;
  min-width: 135px;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px 0 0 0;
}

.navbar__rooms-sublist {
  display: none;
  min-width: 120px;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px 0 0 0;
}

.navbar__products-sublist>li,
.navbar__rooms-sublist>li {
  background: #e89f71;
  padding: 5px 10px 5px 5px;
}

.navbar__list>li:hover .navbar__products-sublist,
.navbar__list>li:hover .navbar__rooms-sublist {
  display: block;
}

.navbar__list>li._active-menu .navbar__products-sublist,
.navbar__list>li._active-menu .navbar__rooms-sublist {
  display: block;
  height: 100%;
}

.navbar__list>li._active-menu .arrow__link {
  transform: rotate(-180deg);
}

.link {
  color: white;
}

.link:hover::after {
  width: 100%;
  left: 0;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease-in-out;
}

.navbar__search-field {
  display: inline-flex;
  background-color: white;
  width: 473px;
  height: 45px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin: 12px;
  order: -1;
}

.search-field {
  width: 300px;
  border: 0;
}

.search-field:focus {
  outline: none;
}

.navbar__icons {
  display: flex;
  align-items: center;
}

.navbar__icons img {
  margin: 0 15px;
}

/*Navbar style ends*/
.navbar__user-avatar img {
  border-radius: 50%;
}

@media screen and (max-width: 1074px) {
  .container__navbar {
    padding: 0 20px 0 0;
  }

  .navbar__brand {
    margin: 0 20px 0 0;
  }

  .navbar__list {
    width: 250px;
    margin: 0 10px 0 0;
  }

  .navbar__search-field {
    width: 253px;
  }

  .navbar__icons img {
    margin: 0 5px;
  }
}

@media screen and (max-width: 768px) {

  .navbar__burgermenu {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 18px;
    z-index: 10;
  }

  .navbar__burgermenu span,
  .navbar__burgermenu::before,
  .navbar__burgermenu::after {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .navbar__burgermenu::before,
  .navbar__burgermenu::after {
    content: "";
  }

  .navbar__burgermenu::before {
    top: 0;
  }

  .navbar__burgermenu::after {
    bottom: 0;
  }

  .navbar__burgermenu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .navbar__burgermenu._active-list span {
    transform: scale(0) translate(0px, -50%);
  }

  .navbar__burgermenu._active-list::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .navbar__burgermenu._active-list::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .container__navbar {
    display: flex;
    flex-wrap: wrap;
  }

  .navbar__brand {
    margin: 0 20px 0 5px;
  }

  .navbar__list-body {
    order: 3;
    display: none;
  }

  .navbar__list-body._active-list {
    display: block;
  }

  .navbar__list {
    display: block;
    padding: 15px 0 0 10px;
  }

  .navbar__list>li {
    padding: 10px 5px 5px 5px;
  }

  .navbar__products-sublist,
  .navbar__rooms-sublist {
    padding: 20px 0;
    z-index: 10;
  }

  .navbar__search-field {
    order: 2;
    display: none;
  }

  .navbar__icons {
    width: 50%;
    justify-content: space-between;
  }
}

/*Navbar style ends*/

/*Main style starts*/

.main__gallery-wrapper {
  background: linear-gradient(to right, #f9f1e7 67%, #fcf8f3 33%);
}

.main__gallery-body {
  position: relative;
}

.main__ad {
  position: absolute;
  width: 494px;
  height: 553px;
  left: 100px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
  z-index: 2;
}

.main__ad-title {
  font-weight: 700;
  font-size: 56px;
  margin: 60px 60px 16px 60px;
  color: #3A3A3A;
}

.main__ad-description {
  font-weight: 500;
  font-size: 20px;
  color: #898989;
  margin: 0 77px 48px 60px;
}

.main__ad-btn {
  font-weight: 600;
  font-size: 20px;
  width: 374px;
  height: 78px;
  left: 160px;
  background: #E89F71;
  color: #FFFFFF;
  margin: 48px 60px 60px 60px;
  cursor: pointer;
  transition: all 500ms ease;
}

.main__ad-btn:hover {
  background: #FFFFFF;
  color: #E89F71;
  box-shadow: inset 0 0 0 3px #E89F71;
}

.main__gallery-dots {
  position: absolute;
  top: 0;
  left: 50%;
}

.main__gallery-arrows {
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}

.gallery__btn-prev:hover,
.gallery__btn-next:hover {
  background: #E89F71;
  opacity: 0.3;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #E89F71;
}

.gallery__btn-next {
  margin-left: 8px;
}

.arrow-prev,
.arrow-next {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #FFFFFF;
  background: #E89F71;
}

.main__gallery-pics {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.wrapper__gallery-pic {
  margin: 16px 16px 0 16px;
  height: 100%;
  width: 100%;
}

.main__gallery-pics {
  max-width: 100%;
  overflow: hidden;
}

.about__second,
.about__third {
  opacity: 0;
  visibility: hidden;
}

.about-pic {
  position: absolute;
  z-index: 10;
  width: 294px;
  height: 148px;
  top: 60%;
  left: 55%;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
}

.pic-title {
  font-weight: 600;
  font-size: 28px;
  color: #3A3A3A;
  margin: 24px 0 0 24px;
}

.pic-description {
  font-weight: 500;
  font-size: 16px;
  color: #616161;
  margin: 4px 0 8px 24px;
}

.link-more {
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 24px;
}

.item-price {
  font-weight: 600;
  font-size: 20px;
  color: #3A3A3A;
}

.item-link {
  margin-right: 24px;
}

.features__wrapper {
  margin: 88px 70px;
  display: flex;
  justify-content: space-between;
}

.features {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}

.feature__icon {
  margin-right: 24px;
}

.feature__title {
  font-weight: 600;
  font-size: 18px;
  color: #3A3A3A;
  padding-bottom: 8px;
}

.feature__text {
  font-weight: 500;
  font-size: 16px;
  color: #898989;
}

.bounce:hover {
  animation-name: bounce;
  -webkit-animation-name: bounce;

  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(0%) scaleY(0.6);
  }

  60% {
    transform: translateY(-100%) scaleY(1.1);
  }

  70% {
    transform: translateY(0%) scaleY(0.95) scaleX(1.05);
  }

  80% {
    transform: translateY(0%) scaleY(1.05) scaleX(1);
  }

  90% {
    transform: translateY(0%) scaleY(0.95) scaleX(1);
  }

  100% {
    transform: translateY(0%) scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6);
  }

  60% {
    -webkit-transform: translateY(-100%) scaleY(1.1);
  }

  70% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05);
  }

  80% {
    -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1);
  }

  90% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1);
  }

  100% {
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1);
  }
}

/*Main style ends*/

/*Footer style starts*/

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 70px 0 70px;
}

.footer_title {
  font-size: 24px;
}

.footer_text,
.footer_link {
  font-size: 16px;
  color: #616161;
  text-decoration: none;
}

.footer_link:hover {
  text-decoration: underline;
}

.email_button {
  background-color: #e89f71;
  height: 45px;
  width: 45px;
  margin-left: 4px;
  border: none;
  cursor: pointer;
}

.email {
  border: none;
  height: 45px;
  width: 242px;
  background-color: #f4f5f7;
}

.email_pic {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .funiro {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .funiro {
    display: none;
  }

  .connected {
    display: none;
  }

  .updated_title {
    display: grid;
  }

  .email {
    height: 45px;
    width: 142px;
  }

  .email_button {
    height: 25px;
    width: 25px;
  }

  .email_pic {
    width: 14px;
    height: 14px;
  }
}

/*Footer style ends*/